<a href="https://colab.research.google.com/github/WZ151/weik151/blob/master/%E9%B8%A2%E5%B0%BE%E8%8A%B1knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
import random
from math import sqrt

# 读取数据

## 读取x

In [2]:
df=pd.DataFrame(datasets.load_iris().data,columns=["A","B","C","D"])

## 读取y

In [ ]:
df["Y"]=datasets.load_iris().target

In [ ]:
tmp = [_x for _x in np.array(df.loc[:,["A","B","C","D"]])]

In [ ]:
(tmp[0]-[1,1,1,1])**2

array([16.81,  6.25,  0.16,  0.64])

#相关函数

函数：生成指定长度内指定数量的不重复的整数随机数，length 必须大于 num

In [ ]:
def lenth_rand(length,num):
  assert length>=num,"length 必须大于 num"
  result=[]
  i=0
  while i <= num-1:
    tmp=random.randint(0,length-1)
    if tmp not in result:
      result.append(tmp)
      i+=1
  
  return result

# 相关类

1.对样本分组 

2.建立一个类，输入的是k与（xy或者x），前者是训练集，后者是预测集或者测试集
输入输出都是dataframe格式

3.算出Xi和其他点的距离

4.对距离进行排序

5.选择K个最相近的点

6.得到总数和各个类型所占的比例

In [ ]:
class KnnClass:
    def __init__(self,k):
        self.k=k

    def fill(self,x,y):
        self._x=np.array(x)
        self._y=np.array(y)
        return self
    
    def predict(self,x):
      
      return [self._predict(_x) for _x in np.array(x)]

    #针对每一个的x数组的预测哈
    def _predict(self,_x):
      #算距离

      distincts=[sqrt(  np.sum( (_x-tmp_x)**2 )  ) for tmp_x in np.array(_x)]
      #将所属类别加上
      df_p=pd.DataFrame(distincts,columns=["dis"])
      df_p["sort"]=np.array(self._y)
      #对距离进行排序
      
      # df_p=df_p.sort_values(by="dis")
      print(df_p)
      #得到预测的分类值
      
      df_p_1=df_p.loc[0:self.k].sort.value_counts().index
      return df_p_1

In [ ]:
tmp=KnnClass(5)
tmp.fill(df.loc[:,["A","B","C","D"]],df.loc[:,["Y"]])
a=tmp.predict(df.loc[:,["A","B","C","D"]])

ValueError: ignored

In [ ]:
a

In [ ]:
_x=np.array(df.loc[:,["A","B","C","D"]])
x=[1,1,1,1]
distincts=[sqrt(  np.sum( (_x-tmp_x)**2 )  ) for tmp_x in _x]

In [ ]:
df_p=pd.DataFrame(distincts,columns=["dis"])

In [ ]:
df_p["sort"]=data.target

In [ ]:
df_p.sort_values(by="dis",ascending=False)

           dis  sort
118  53.780759     2
117  52.246435     2
122  51.018134     2
131  50.415970     2
105  49.779213     2
..         ...   ...
99   26.710485     1
71   26.673770     1
88   26.642260     1
82   26.529795     1
64   26.442957     1

[150 rows x 2 columns]

In [ ]:
df_p.loc[0:80].sort.value_counts().index[0]

0

In [ ]:
marA=pd.DataFrame(x for x in range(6))

In [ ]:
marA.shape

   0
0  0
1  1
2  2
3  3
4  4
5  5

In [ ]:
range(6)

range(0, 6)